<div class="container-fluid footer mt-4">
    <div class="row">
        <!-- name  -->
        <div class="col-lg-6 mt-3 mb-3">
            <h1 class="h1">McloudTek</h1>
            <p class="p">GOOD FOOD GOOD EAT!!!</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4 mt-3 mb-3">
            <a class="a" routerLink="">Home</a>
            <a class="a" routerLink="menu">Menu</a>
            <a class="a" routerLink="about">About</a>
            <a class="a" routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia  -->
        <div class="col-lg-2 mt-3 mb-3">
            <a class="a" href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a class="a" href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a class="a" href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a class="a" href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>