<div class="banner">
    <div class="content">
        <h1 class="h1 mb-5">Fresh Cooked Food <br> At your Door</h1>
        <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>

<div class="container mb-5 mt-5">
    <h1 class="text-center">How to get <span class="highlight">fresh food</span></h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2 mb-4">
            <div class="stepbox">
                <h1>1</h1>
                <p>select food</p>
            </div>
        </div>
        <div class="col-lg-4 mt-2 mb-4">
            <div class="stepbox">
            <h1>2</h1>
            <p>fill the details</p>
        </div>
        </div>
        <div class="col-lg-4 mt-2 mb-4">
            <div class="stepbox">
            <h1>3</h1>
            <p>your order deliver in minutes</p>
        </div>
        </div>

    </div>
</div>

<div class="container mt-4 mb-4">
    <h1 class="text-center">Customers <span class="highlight">Favourites Food</span></h1>
    <div class="row">
        <div class="col-lg-4 mt-3"  *ngFor="let data of foodData;index as i">       
            <div class="foodbox" *ngIf="i<3">
                <img src="{{data.foodImg}}/">
                <h1>{{data.foodName}}</h1>
                <p>{{data.foodPrice | currency:'INR'}}</p>
            </div>
        </div>
    </div>
    <a routerLink="menu" class="viewmorebtn">view more</a>
</div>